.yacht-landing {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-left: get-size('600');
  padding-right: get-size('600');
}

.yacht-landing__content h1, h2, h3 {
  text-align: center;
}