# modified Allowlisting gitignore
# Ignore everything
*

!/.dockerignore
!/.gitignore
!/.gitkeep

!LICENSE
!VERSION
!Makefile

!README.md
!theme.toml
!config.yaml
!hugo.toml

# hugo modules
!go.sum
!go.mod

# npm & webpack
!package.json
!package.hugo.json
!webpack.config.js
!postcss.config.js
!tailwind.config.js

# theme components
!archetypes/**
!assets/**
!layouts/**
!static/**

!exampleSite/**
exampleSite/resources/
exampleSite/public/
/
# one document directory to consolidate them all
!docs/**/*.md

# but allow the above files in (sub)directories
!*/

# explicitly ignore experimentation and in-progress development
exp/**
node_modules/**
public/**
package-lock.json
.hugo_build.lock
resources/
hugo_stats.json
