<!-- projects/list.html -->
{{ define "main" }}
<div class="rounded-lg wrapper stack yacht-project__list">
  <div class="yacht-project__list-title">
    <h2>{{ .Title }}</h2>
  </div>

  {{ with site.GetPage "/oss.md" }}
  <div class="yacht-project__list-item">
    <p>{{ .Summary }}</p>
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  </div>
  {{ end }}

  <div class="yacht-project__list-content">
    {{ .Content }}
  </div>

  <div class="grid">
    {{ range .Pages }}
    <div class="rounded-lg stack yacht-project__list-item">
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}