{{ define "main" }}
<div class="rounded-lg wrapper yacht-project__single">
  <div class="sidebar">
    <section class="stack yacht-project__single-list">
      <h2>projects</h2>
      <ul role="list" class="cluster">
        {{ range (where .Site.RegularPages "Type" "in" "projects").ByDate.Reverse }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>

    <section class="stack yacht-project__single-details font-tufte">
      <h2>{{ .Title }}</h2>
      {{ .Content }}
      {{ with .Params.image }}
      <img class="yacht-project__figure" alt="{{ $.Params.alt_text }}" src="{{ . | relURL }}">
      {{ end }}

      <h3>tech used</h3>
      <ul role="list" class="cluster">
        {{ range .Params.tech_used }}
        <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </section>
  </div>
</div>
{{ end }}