@charset "utf-8";

// import a font from google
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$family-sans-serif: "Ubuntu", sans-serif !default;
$family-monospace: "Ubuntu Mono", monospace !default;

// import initial variables from bulma
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// import the configured palette
@import "ctp/{{ .Site.Params.palette }}";

// override bulma colors
$black: hsl(240, 23%, 9%) !default;
$black-bis: hsl(240, 21%, 12%) !default;
$black-ter: hsl(240, 21%, 15%) !default;

$white: hsl(220, 23%, 95%) !default;
$white-bis: hsl(220, 22%, 92%) !default;
$white-ter: hsl(220, 21%, 89%) !default;

$orange: $peach !default;
$turquoise: $sapphire !default;
$cyan: $sky !default;
$purple: $lavender !default;

$dark: $mantle !default;

$scheme-main: $base !default;
$scheme-invert: $white !default;
$scheme-main-bis: $overlay0 !default;

$background: $subtext1 !default;

$text-invert: $crust !default;
$text-light: $subtext1 !default;
$text-strong: $subtext0 !default;

$code: $crust !default;

$link: $blue !default;
$link-hover: $rosewater !default;
$tag-color: $crust !default;
$tag-background-color: $blue !default;
$navbar-item-hover-color: $crust !default;
$navbar-item-hover-background-color: $rosewater !default;
$menu-item-color: $link !default;
$menu-item-hover-color: $crust !default;
$menu-item-hover-background-color: $rosewater !default;
$active: $rosewater !default;

$subtitle-color: $subtext1 !default;
// $info: $blue;
// $color: $text !default;
// $body: $text !default;
// $background-color: $base !default;
$footer-background-color: $crust !default;
$navbar-background-color: $mantle !default;
// $navbar-box-shadow-color: $crust;

$subtext0-invert: findColorInvert($subtext0);
$subtext1-invert: findColorInvert($subtext1);

$primary: $base !default;

$card-header-background-color: $mantle !default;
$card-footer-background-color: $crust !default;

// maximum container width
$container-maxwidth: $widescreen;

// import the rest of bulma
@import "bulma/bulma.sass";