/* @charset "utf-8"; */

// Catppuccin v0.2.0 sass is also part of the npm package
/* @use "@catppuccin/palette/scss/mocha"; */

$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;
$rosewater: #f5e0dc;

$black: $base;
$black-bis: $surface0;
$black-ter: $surface1;

$grey-darker: $surface1;
$grey: $surface2;
$grey-light: $overlay0;
$grey-lighter: $overlay1;
$grey-lightest: $overlay2;

$white: $text;
$white-bis: $subtext0;
$white-ter: $subtext1;

$orange: $peach;
$turquoise: $sapphire;
$cyan: $sky;
$purple: $mauve;
$active: $rosewater;
$link: $rosewater;
$primary: $base;

// import initial variables from bulma
@use "bulma/sass" with ($family-sans-serif: '"Ubuntu", sans-serif',
  $family-monospace: '"Ubuntu Mono", monospace',
  $text: $text,
  $text-weak: $subtext0,
  /* $text-strong: $grey-darker, */
  /* $scheme-main: $base, */
  /* $scheme-main-bis: $surface0, */
  /* $scheme-main-ter: $surface1, */
  /* $scheme-invert: $text, */
  /* $scheme-invert-bis: $subtext0, */
  /* $scheme-invert-ter: $subtext1, */

  /* $link-hover: $blue, */
  /* $tag-color: $crust, */
  /* $tag-background-color: $blue, */
  /* $navbar-item-hover-color: $crust, */
  /* $navbar-item-hover-background-color: $rosewater, */
  /* $menu-item-color: $link, */
  /* $menu-item-hover-color: $crust, */
  /* $menu-item-hover-background-color: $rosewater, */

  /* $primary: $base, */
  /* $subtitle-color: $subtext1, */

  /* $background: $base, */

  /* $dark: $crust, */

  /* $text-invert: $crust, */
  /* $text-light: $subtext1, */
  /* $text-strong: $subtext0 */
  /* $code: $crust, */

  /* // $info: $blue, */
  /* // $color: $text, */
  /* $body: $base, */
  /* $background-color: $base, */
  /* $footer-background-color: $crust, */
  /* $navbar-background-color: $mantle, */
  /* $navbar-box-shadow-color: $crust, */

  /* $card-header-background-color: $mantle, */
  /* $card-footer-background-color: $crust, */

);

// import a font from google
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');