
@import "_color_palette";
/* override Bulma colors */
$link: $rosewater;
$primary: $base;
$footer-background-color: $mantle;
$navbar-background-color: $mantle;
$navbar-box-shadow-color: $crust;
$background: $base;

@import "../bulma/bulma.sass";

