{{ define "main" }}
<section class="section">
  <div class="columns is-vcentered is-multiline">
    <div class="column is-12">
      <section class="section">
        <h2 class="title is-2 has-text-centered is-spaced">{{ .Title }}</h2>
        <p class="subtitle is-4">
        {{ .Content }}
        </p>
      </section>
    </div>

      {{/* <div class="column"> */}}
      {{/* </div> */}}

        {{/* {{ with .Site.GetPage "/oss.md" }} */}}
          {{/* <div class="card"> */}}
            {{/* <div class="card-content"> */}}
              {{/* <h3 class="subtitle is-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a><h3> */}}
              {{/* <div class="content"> */}}
                {{/* <p>{{ .Summary }}</p> */}}
              {{/* </div> */}}
          {{/* </div> */}}
        {{/* {{ end }} */}}

    {{ range .Pages }}
    <div class="column is-5-tablet is-5-desktop is-3-widescreen">

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <a class="title is-4" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </p> 
        </header>
        <div class="card-content">
          <div class="content">
            {{ if .Params.status }}
              <p class="subtitle is-6">status:<br />
                {{ .Params.status }}
              </p>
            {{ end }}
            <p>
              {{ .Summary }}
            </p>
          </div>
        </div>
        <footer class="card-footer">
          {{ range .Params.tech_used }}
            <a href="#" class="card-footer-item">{{ . }}</a>
          {{ end }}
        </footer>
      </div>

    </div>
    {{ end }}

  </div>
</div>
</section>
{{ end }}
