{{ define "main" }}

  <div class="project-container">
    <section class="project-list">
      <h2>projects</h2>
      <ul>
        {{ range (where .Site.RegularPages "Type" "in" "project") }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </section>

    <section class="project">
      <h2>{{ .Title }}</h2>

      {{ .Content }}
      <br>
      <img alt="{{ .Params.alt_text }}" src="{{ .Params.image }}">
      <br>

      <h3>technologies used</h3>
      <ul>
        {{ range .Params.tech_used }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </section>

  </div>

{{ end }}