.container {
  margin: 0 auto;
  width: 80%;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

nav, footer {
  background-color: #6c7086;
  color: #cdd6f4;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #cdd6f4;
}

.oss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oss article {
  border: 1px solid #313244;
  box-shadow: 3px 3px 3px #11111b;
  margin: 0.5%;
  padding: 0.5%;
  width: 30%;
}

@media only screen and (min-width: 768px) {
  nav { flex-direction: row; }

  .project-container { display: flex; }
  
  .project-container .project-list { width: 20%; }

  .project-container .project { flex: 1; }
}
 