:root {
  a {
    text-decoration: none;
    color: $link-color;
  }
  a:hover {
    color: $hover-color;
  }
  font-family: $font-stack;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: $font-color;
  background-color: $background-color;
}


@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    // font-family: $global-serif-font-family;
  }
}
