/* maybe import some fonts */

/* set some css variables*/
@import "_variables";

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
8. Smooth scrolling
*/

html,
:host {
  /* 1 */
  line-height: 1.5;
  /* 2 */
  /* -webkit-text-size-adjust: 100%; */
  /* 3 */
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  /* 4 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 5 */
  font-feature-settings: normal;
  /* 6 */
  font-variation-settings: normal;
  /* 7 */
  -webkit-tap-highlight-color: transparent;
  /* 8 */
  scroll-behavior: smooth;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

html,
body {
  height: 100%;
  color: $color;
  background-color: $background-color;
}

/* use a responsive, twelve column grid as the outermost container */
.twelve-column-grid {
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
  gap: 20px;
  grid-template-areas:
    "header"
    "navbar"
    "main"
    "footer";
}

.twelve-column-grid>* {
  grid-column: col-start/span 12;
}

header,
footer {
  background-color: var(--surface-color);
}

/* use flexbox to automagically adjust height */
main {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

/* remove item markers */
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
}

.header__yacht-name {
  color: var(--color);
  font-size: 3rem;
  font-weight: 500;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px var(--shadow-color);
}

.header__label .navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px var(--shadow-color);
}

.header__logo {
  grid-area: header;
}

.header__hamburger {
  display: none;
}

.header__bar {
  background-color: var(--overlay2-color);
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px auto;
}

// .header__checkbox {
//   opacity: 0;
//   grid-area: header;
//   position: absolute;
// }

.header__label {
  background-color: var(--shadow-color);
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 0px;
  position: relative;
}

.header__switcher {
  background-color: var(--overlay2-color);
  grid-area: header;
  position: absolute;
  top: 5px;
  left: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.header__moon {
  color: var(--lavendar-color);
}

.header__sun {
  color: var(--yellow-color);
}

.header__checkbox:checked+.header__label .header__switcher {
  transform: translateX(24px);
}

.navigation ul {
  grid-area: navigation;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header__nav-item {
  margin-left: 2rem;
}

.header__nav-link {
  font-weight: var(--bold-font)
}


/* .content { */
/* border-left: 0.25rem solid var(--active-border); */
/* border-right: 0.25rem solid var(--active-border); */
/* } */

/* .home-container { */
/* grid-area: content; */
/* border-left: 0.25rem solid var(--active-border); */
/* border-right: 0.25rem solid var(--active-border); */
/* height: 100%; */
/* width: 98%; */
/* justify-content: center; */
/* align-items: center; */
/* } */

/* .landing-column { */
/* justify-content: center; */
/* align-items: center; */
/* padding: 20px; */
/* } */

/* .landing-image img { */
/* text-align: center; */
/* max-width: 100%; */
/* max-height: 100%; */
/* } */

/* .landing-text { */
/* text-align: justify; */
/* flex-direction: column; */
/* } */

.oss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oss article {
  border: 1px solid #313244;
  box-shadow: 3px 3px 3px var(--shadow-color);
  margin: 0.5%;
  padding: 0.5%;
  width: 30%;
}

.anchor {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* @media (min-width: 500px) {

} */

@media only screen and (min-width: 700px) {

  /* .home-container { */
  /* flex-flow: row; */
  /* justify-content: space-between; */
  /* } */

  /* .landing .landing-image { */
  /* width: 50%; */
  /* flex: 1 1 auto; */
  /* flex-grow: 1; */
  /* } */

  /* .landing .landing-text { */
  /* width: 50%; */
  /* flex: 1 1 auto; */
  /* flex-grow: 1; */
  /* } */

  .project-container {
    display: flex;
  }

  .project-container .project-list {
    width: 20%;
  }

  .project-container .project {
    flex: 1;
  }

}
