{{ define "main" }}
<article class="wrapper rounded-lg stack yacht-blog__list">
  <section class="yacht-blog__list-title">
    <h2>{{ .Title }}</h2>
    {{ .Content }}
  </section>

  <ul role="list" class="stack">
    {{ range .Paginator.Pages }}
    <li>
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January" }}</time>
      <div class="yacht-blog__summary">{{ .Summary }}</div>
    </li>
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
</article>
{{ end }}