{{ define "main" }}
<div class="container">
  <section class="section">
    <div class="columns is-vcentered is-max-laptop is-multiline">

      <div class="column is-12">

        <section class="section">
          <h2 class="title is-2 is-spaced has-text-centered">{{ .Title }}</h2>
          <p class="is-5">written by: {{ .Params.author }}</p>
          <p class="is-5">originally posted: {{ .Date.Format "2006-01-02" }}</p>
          <p class="is-5">reading time: approximately {{ math.Round (div (countwords .Content) 200.0) }} minutes</p>
          <p class="is-5">word count: {{ countwords .Content }}</p>
          <br />

          <span class="tags">
            categories: 
            {{ range .Params.categories }}
              <a class="tag" href="/categories/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </span>
          <span class="tags">
            tags: 
            {{ range .Params.tags }}
              <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </span>
        </section>

        <section class="section">
          <div class="content is-normal" role="main">
            {{ .Content }}
          </div>
        </section>

        <section class="section related">
          {{ $related := .Site.RegularPages.Related . | first 5 }}
          {{ with $related }}
            <h3>related pages</h3>
            <ul>
              {{ range . }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
        </section>

      </div>

    </div>
  </section>
</div>
{{ end }}
