{{ define "main" }}
<article class="rounded-lg wrapper stack yacht-blog font-tufte">

  <header>
    <h2>{{ .Title }}</h2>
    <label for="sn-meta-{{ .File.UniqueID }}" class="margin-toggle">⊕</label>
    <input type="checkbox" id="sn-meta-{{ .File.UniqueID }}" class="yacht-sidenote-toggle">
    <span class="yacht-sidenote sans">
      written by: {{ .Params.author }}<br>
      originally posted: {{ .Date.Format "2006-01-02" }}<br>
      reading time: approximately {{ math.Ceil (div (countwords .Content) 200.0) }} minutes<br>
      word count: {{ countwords .Content }}
    </span>

    <span class="tags cluster">
      categories:
      {{ range .Params.categories }}
      <a href="/categories/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </span>
    <span class="tags cluster">
      tags:
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </span>
  </header>

  <section class="yacht-blog__content">
    {{ .Content }}
  </section>

  {{ $related := site.RegularPages.Related . | first 5 }}
  {{ with $related }}
  <section class="yacht-blog__related">
    <h3>related pages</h3>
    <ul role="list" class="stack">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

</article>
{{ end }}