<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode | default "en-us" }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

  {{- partial "head.html" . -}}

  <body>
      <header role="banner" class="yacht-header">
        {{- partial "header.html" . -}}
      </header>

      <main id="main-content" class="wrapper | yacht-main">
        {{- block "main" .}}{{- end }}
      </main>

      <footer class="yacht-footer">
        {{- partial "footer.html" . -}}
      </footer>
  </body>

</html>
