<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode | default "en-us" }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

  {{- partial "head.html" . -}}

  <body>
    <div class="page-wrapper">
      <header class="header .header-wrapper">
        {{- partial "header.html" . -}}
      </header>

      <main class="main content-wrapper">
        {{- block "main" .}}{{- end }}
      </main>

      <footer class="footer. footer-wrapper">
        {{- partial "footer.html" . -}}
      </footer>
    </div>
  </body>

</html>
