{{ define "main" }}

<div class="radius wrapper stack yacht-project-oss">
  <br>
  {{ .Content }}
  <br>

  {{ $url := printf "%s?q=owner:%s&sort=updated" .Site.Params.gh_url .Site.Params.gh_user }}
  {{ $repos := dict }}
  {{- with try (resources.GetRemote $url) }}
  {{- with .Err }}
  {{ errorf "%s" . }}
  {{- else with .Value }}
  {{ $repos = .Content | transform.Unmarshal }}
  {{- else }}
  {{ errorf "unable to get remote resource %q" $url }}
  {{- end }}
  {{- end }}

  <section class="grid">
    {{ range $repos.items }}
    <article class="wrapper stack">
      <h4><a href="{{ .html_url }}">{{ .name }}</a></h4>
      <p>{{ .description }}</p>
    </article>
    {{ end }}
  </section>

</div>
{{ end }}