/* YACHT Another Custom Hugo Theme */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* colors based on Catppuccin Mocha - https://catppuccin.com/palette/ */
    --base: #1e1e2e;
    --base-inverted: #eff1f5;

    --crust: #11111b;
    --mantle: #181825;
    
    --text: #cdd6f4;
    --subtext0: #a6adc8;
    --subtext1: #bac2de;
    
    --overlay0: #6c7086;
    --overlay1: #7f849c;
    --overlay2: #9399b2;
    
    --surface0: #313244;
    --surface1: #45475a;
    --surface2: #585b70;
    
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;

    --background-color: var(--base);
    --font-color: var(--text);
    --link-color: var(--blue);
    --hover-color: var(--sky);
    --surface-color: var(--surface0);
    --shadow-color: var(--mantle);
    --active-border: var(--lavender);

    /* fonts */
    --font-stack: Ubuntu, sans-serif;
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;

    /* sizes */
    --line-height: 1.25rem;
    /* --content-width: 67%; */
    --breakpoint: 799px;
    --nav-height: 70px;

    /* Headings font size of the site. */
    /* --global-headings: (
        h1: 26px,
        h2: 24px,
        h3: 20px,
        h4: 16px,
        h5: 14px,
        h6: 14px
        ); */
        
    background-color: var(--base);
    color: var(--font-color);

}

/* CUBE CSS flow */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}



/*
 * -- BASE STYLING --
 */
html,
body,
.page-wrapper {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    height: 100vh;
    width: 100vw;
    line-height: var(--line-height);
    background: var(--background-color);
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* using flexbox to layout the page and fill the height */
.header-wrapper {
    flex: 0 1 auto;
    width: 100%;
}
.content-wrapper {
    flex: 1 1 auto;
    /* align-items: center; */
}
.footer-wrapper {
    flex: 0 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--font-color);
}

.is-center {
    text-align: center;
}

.is-right {
    text-align: right;
}

.is-justified {
    text-align: justify;
}

.is-404 {
    h1, h4 {
        margin: 5em;
        color: var(--red);
        line-height: 2em;
    }
}

/*
 * -- MENU STYLES --
 */


.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: var(--surface0);
}

/*
 * -- some PURE CSS STYLE OVERRIDES --
*/

.l-box {
    height: 100%;
    /* max-width: 0 auto; */
    padding: 1em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.pure-menu .pure-menu-horizontal {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
}

.home-menu .pure-menu-heading {
    font-weight: 400;
    font-size: 150%;
}

.home-menu .pure-menu-selected a {
    color: var(--font-color);
}

a {
    color: var(--link-color);
}

a:focus,
a:hover {
    color: var(--hover-color);
    text-decoration: none;
    background: none;
}

.home-menu li a:hover,
.home-menu li a:focus,
.footer li a:hover,
.footer li a:focus {
    background: none;
    border: none;
    color: var(--hover-color);
}


/*
 * -- CONTENT STYLES --
 * This represents the content area of the site.
 */
.content-wrapper {
    height: 0 auto;
    width: 100%;
    background: var(--background-color);
    
}

.landing-content {
    {{/* height: 100%; */}}
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

/* We want to give the content area some more padding */
.content {
    height: 100%;
    padding: 2em 2em 2em;
    overflow: hidden;
    text-align: justify;
}

.content-head {
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}


/* This is the class used for the footer */
.footer {
    background: var(--surface0);
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 1.15em;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
    .home-menu ul {
        float: right;
    }

    .footer-social {
        text-align: left;
        }
    .footer-poweredby {
        text-align: right;
        }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 78em) {
    /* We want to give the content area some more padding */
    .landing-content {
        padding: 2em 2em 2em;
    }
    .content {
        width: 70%;
        margin: 0 auto;
    }
}
