*

!*/

!go.mod
!go.sum

!/.nojekyll

!/.gitignore
!hugo.yaml
!*/**.yaml
!run_debug.sh
!archetypes/**
!assets/**
!config/**
!content/**
!data/**
!static/**

!package.json

# ignore
package-lock.json
node_modules/
resources/
public/