<!-- navigation -->
<div class="repel">
  <!-- baseURL/Title -->
  <a class="yacht-header__logo" href="{{ .Site.BaseURL }}" aria-label="{{ .Site.Title }}">
    {{ .Site.Title }}
  </a>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <ul role="list" id="menu" class="cluster">
      {{ range .Site.Menus.main.ByWeight }}
      <li>
        <a href="{{ .URL | relURL }}" id="nav-link" title="{{ .Name }}">{{- .Name -}}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>