<div class="navigation" role="navigation" aria-label="main navigation">
<ul>
  <li class="nav-item">
    <a href="/" class="nav-link" id="nav-link">home</a>
  </li>
  <li class="nav-item">
    <a href="/about" class="nav-link" id="nav-link">about</a>
  </li>
  <li class="nav-item">
    <a href="/cv" class="nav-link" id="nav-link">cv</a>
  </li>
  <li class="nav-item">
    <a href="/contact" class="nav-link" id="nav-link">contact</a>
  </li>
  <li class="nav-item">
    <a href="/posts" class="nav-link" id="nav-link">blog</a>
  </li>
  <li class="nav-item">
    <a href="/projects" class="nav-link" id="nav-link">projects</a>
  </li>
</ul>
</div>