<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

  <head>
    {{- partial "head.html" . -}}
  </head>

  <body>

    <section class="hero is-primary is-fullheight">
      <div class="hero-head">
        <nav class="navbar is-top" role="navigation" aria-label="main navigation">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item title is-3" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

              <span role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="helm">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </span>
            </div>

            <div id="helm" class="navbar-menu">
              <div class="navbar-start">
              </div>

              <div class="navbar-end">
                {{ range .Site.Menus.main }}
                  <a class="navbar-item" href="{{ .URL | relURL }}" title="{{ .Name }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </div>

          </div>
        </nav>

    </div>

    <div class="hero-body">
      <div class="columns">
        <div class="column">
          <div class="container is-fluid">
            <img src="{{ .Site.Params.profilePicture | relURL }}" alt="{{
              .Site.Params.profilePictureAlt }}" width="auto" height="auto">
          </div>
        </div>
        <div class="column">
          <section class="section">
            <div class="container is-fluid">

              {{ if .Site.Params.subTitle }}
              <h3 class="subtitle is-3 is-spaced">{{ .Site.Params.subTitle }}</h3>
              {{ end }}

              <div class="content">
                <p>{{ .Content }}</p>
              </div>

            </div>
          </section>
        </div>
        </div>
    </div>


    <div class="hero-foot">
      <div class="is-fullwidth">
      {{- partial "footer.html" . -}}
    </div>
    </div>

  </section>
  </body>
</html>

